:root{
    --color-black: #272727;
    --color-green: #AFE1AF;
    --color-blue: #add6ff; 
    --color-yellow: #FFFF8F;
    --color-red: #FF4433;

    --background-red: #ffe2dd;

}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;

    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 350;
    font-size: 12px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
html *{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

/* Board  */
.board{
    display: grid;
    grid-template-rows: repeat(9, auto);
    min-height: 375px;
    margin-top: 50px;
}

.row{
    display:grid;
    grid-template-columns: repeat(9, auto);
    justify-content: center;
}

.cell{
    display: grid;
    place-items: center center;

    border: 1px solid rgba(0,0,0,0.05);;
    height: 50px;
    width: 50px;

    font-size: 30px;
}

/* the bold board border for the outer board, and squares */
.row .cell:first-child{
    border-left: 2px solid var(--color-black);
}

.row .cell:last-child, .row .cell:nth-child(3n){
    border-right: 2px solid var(--color-black);
}

.row:first-child .cell{
    border-top: 2px solid var(--color-black);
}

.row:last-child .cell, .row:nth-child(3n) .cell{
    border-bottom: 2px solid var(--color-black);
}


.active{
    background-color: var(--color-blue);
}




.active-computer{
    background-color: var(--color-yellow);
}

.complete-computer{
    background-color: var(--color-green);
}

.prefill{
    background-color: rgba(0,0,0,0.15);
}

/* Errors */
.error{
    color: var(--color-red);
    background-color: var(--background-red);
    font-weight: 400;
    animation: growAndShrink 0.25s linear 0s 1 normal;
}

.prefill-error{
    color: var(--color-red);

    animation: growAndShrink 0.25s linear 0s 1 normal;
}


/* Buttons */
/* Button - Container  */
.btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Button Style  */
.btn{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    text-shadow: none;
    border-radius: 5px;
    border: 1px solid var(--color-black);
    margin: 10px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.75;
}

.btn:active{
    opacity: 0.5;
}

/* Button - New Game  */
.btn-new-game{
    background-color: var(--color-blue);
    color: var(--black);
}

/* Button - Solve  */
.btn-solve{
    background-color: var(--background-red);
    color: var(--color-red);
}



/* Numbers */
.numbers{
    margin: 50px auto 0px;
    display: flex;
    justify-content: center;
}


/* Animations */
@keyframes growAndShrink {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.2, 1.2); border: 0;}
    100% {transform: scale(1, 1);}
}