:root{
    --color-black: #272727;
    --color-green: #AFE1AF;
    --color-blue: #add6ff; 
    --color-yellow: #FFFF8F;
    --color-red: #FF4433;

    --background-red: #ffe2dd;

}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;

    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 350;
    font-size: 12px;
    color: var(--black);
    /*! text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
  }
  
html *{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

/* Main  */
.main{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

/* Board  */
.board{
    display: grid;
    grid-template-rows: repeat(9, auto);
    min-height: 375px;
    margin-top: 50px;
}

.row{
    display:grid;
    grid-template-columns: repeat(9, auto);
    justify-content: center;
}

.cell{
    display: grid;
    place-items: center center;

    border: 1px solid rgba(0,0,0,0.05);;
    height: 50px;
    width: 50px;

    font-size: 30px;
}

/* the bold board border for the outer board, and squares */
.row .cell:first-child{
    border-left: 2px solid var(--color-black);
}

.row .cell:last-child, .row .cell:nth-child(3n){
    border-right: 2px solid var(--color-black);
}

.row:first-child .cell{
    border-top: 2px solid var(--color-black);
}

.row:last-child .cell, .row:nth-child(3n) .cell{
    border-bottom: 2px solid var(--color-black);
}

/* Board - Cell - Special */

/* Board - Cell - Special - The Active Cell (For User)  */
.active{
    background-color: var(--color-blue);
}

/* Board - Cell - Special - The Active Cell (when computer is solving) */
.active-computer{
    background-color: var(--color-yellow);
}

/* Board - Cell - Special - The Computer Complete (When computer finalizes a value for a cell) */
.complete-computer{
    background-color: var(--color-green);
}

/* Board - Cell - Special - Prefilled Cells */
.prefill{
    background-color: rgba(0,0,0,0.15);
}

/* Board - Cell - Special - Errors Cell */
.error{
    color: var(--color-red);
    background-color: var(--background-red);
    font-weight: 400;
    animation: growAndShrink 0.25s linear 0s 1 normal;
}

/* Board - Cell - Special - Prefilled Error Cells*/
.prefill-error{
    color: var(--color-red);

    animation: growAndShrink 0.25s linear 0s 1 normal;
}

/* Left Bar  */
.left-bar{
    display: flex;
    flex-direction: column;
}

/* Left Bar - Buttons */
/* Button - Container  */

/* Button Style  */
.btn{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    text-shadow: none;
    border-radius: 5px;
    border: 1px solid var(--color-black);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.75;
}

.btn:active{
    opacity: 0.5;
}

/* Button - Disabled */
.btn-disabled{
    background-color: rgba(0,0,0,0.05) !important;
    color: rgba(0,0,0,0.5) !important;
    cursor:default;
}

.btn-disabled:hover{
    opacity: 1 !important;
}

/* Button - New Game  */
.btn-new-game{
    background-color: var(--color-blue);
    color: var(--black);
    margin-right: 5px;
}

/* Button - Solve  */
.btn-solve{
    background-color: var(--background-red);
    color: var(--color-red);
}


.right-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* Numbers */
.numbers{
    font-size: 40px;
    margin-bottom: 10px;
}

.number-pad{
    display: flex;
    height: auto;
}

.number{
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px;
    border-radius: 4px;
    background-color: var(--color-blue);
    cursor: pointer;
}

.number:hover{
    opacity: 0.75;
}

.number:active{
    opacity: 0.5;
}

.number-disabled{
    background-color: rgba(0,0,0,0.05) !important;
    color: rgba(0,0,0,0.5) !important;
    cursor:default;
    border: 1px solid var(--color-black);
}

.number-disabled:hover{
    opacity: 1 !important;
}

/* Range Slider  */
.range-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#rangeValue {
    /* position: relative; */
    /* display: block; */
    text-align: center;
    font-size: 20px;
    color: #999;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 5px;
  }


.range {
    width: 310px;
    height: 15px;
    -webkit-appearance: none;
    background: var(--color-black);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-green);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #00fd0a;
  }
  


/* Animations */
@keyframes growAndShrink {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.2, 1.2); border: 0;}
    100% {transform: scale(1, 1);}
}